svg {
    width: 90%;
    height: auto;
    max-width: 800px;
    display: block;
    margin: 1em auto;
}

label, input[type="text"] {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.book-title {
    font-family: 'Merriweather', serif;
    font-size: 80px;
    fill: #fcf9eb;
    text-anchor: middle;
}

.book-author {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    fill: #fcf9eb;
    text-anchor: middle;
}

.book-style-btn {

    cursor: pointer;
}