body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: #cfeef9 !important;
    font-family: 'Fredoka', sans-serif;
    min-height: 100vh;
}


header {
    flex: 0 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #3b8abe !important;
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Fredoka', sans-serif;
}

main.friends-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    margin: 1em;
    width: 100%;
}

footer {
    flex: 0 30px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {

    border-bottom: solid white thin;    
    color: white !important;
}

menu .nav-item {
    padding: 0 0.3em;
    color: white !important;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link.active {
    color: rgb(196, 196, 196) !important;
}

button.login-btn {
    background-color: #3b8abe;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button.custom-btn {
    background-color: #4cafef;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    justify-content: center;
}

footer {
    background-color: #3b8abe !important;
    color: white !important;
    padding: 0.3em;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    float: right;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}