button.custom-btn {
    background-color: #4cafef;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button.delete-btn {
    background-color: #ff4c4c;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.book-label {
    fill: white;
    cursor: pointer;
    text-anchor: middle;
    dominant-baseline: middle;
    text-decoration: none;
    stroke: none;
}

a text {
    text-decoration: none;
    stroke: none;
    fill: white;
}

svg {
    width: 90%;
    height: auto;
    max-width: 700px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    width: 100%;
}

.center-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.book-group .hover-text {
    opacity: 0;
    transition: opacity 0.3s;
}

.book-group:hover .hover-text {
    opacity: 1;
}